// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    font-size: 64px;
    font-family: cursive;
    color: #228B22;
    text-align: center;
}

body
{
    background: #C5A3FF;
}